<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentoria</title>
    <style>
        /* Your CSS styles go here */
    </style>
</head>
<body>
<div id=":43a" class="ii gt" >
    <div id=":439" class="a3s aiL ">
        <div style="padding:0;margin:0">

            <table border="0" cellpadding="0" align="center" cellspacing="0" style="margin:0 auto;padding:0" width="600">
                <tbody><tr>
                    <td  width="600" height="90" valign="top" style="background-color: deepskyblue;">


                        <table border="0" cellpadding="0" align="center" cellspacing="0" style="margin:0 auto;padding:0" width="600">
                            <tbody><tr>
                                <td align="left" width="150" style="padding-right:0;padding-left:56px;width:150px">
                                    <img src="http://localhost:9000/src/assets/mentoring.png" width="100" height="100" alt="Mentoria" border="0" class="CToWUd" data-bit="iit">
                                </td>


                                <td width="338" style="font-size:13px;color:#fcfbfa;padding-top:36px;padding-right:0;padding-bottom:20px;padding-right:56px;width:338px;text-align:right">
                                    <a href="http://localhost:9000/#/login" style="color:#fcfbfa;text-decoration:none;font-family:Sans,Arial" target="_blank" >Mentoria</a>
                                </td>
                            </tr>
                            </tbody></table>

                    </td>
                </tr>
                <tr>
                    <td style="padding:0 0 15px 0">
                        Caro(a): <strong>${menteesName}</strong>,
                    </td>
                </tr>
                <tr>
                    <td style="padding:0 0 15px 0">
                        Viemos por este meio disponibilizar o(s) link de acesso ao documento.
                    </td>
                </tr>
                <tr>
                    <td width="600" valign="top">


                        <table width="600" >
                            <tbody><tr>
                                <td height="48"></td>
                            </tr>
                            </tbody></table>



                        <table border="0" cellspacing="0" cellpadding="0" width="600">
                            <tbody><tr>
                                <td align="center" bgcolor="#ffffff" style="background:#fff;padding:0 56px;width:100%" width="600">

                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">

                                        <tbody><tr>

                                        </tr>

                                        <tr id="fit">
                                            <ul id="links" >

                                            </ul>
                                        </tr>

                                        <tr>
                                            <td style="padding:0 0 15px 0">
                                                <strong style="color:#766f6e">Recomendado pelo Mentor(a) :</strong> <span><strong>${mentorName}</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0">
                                                Obrigado, <br>
                                                <strong style="color:#766f6e">A equipa de Mentoria</strong> <br>
                                            </td>
                                        </tr>

                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>



                        <table width="600"  valign="bottom" >
                            <tbody><tr>
                                <td height="48"></td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="bottom" style="vertical-align:bottom">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td  width="600" height="90" valign="bottom" style="background-color: deepskyblue; background-position:center;height:90px;vertical-align:bottom">


                                </td>
                            </tr>
                            </tbody></table><div class="yj6qo"></div><div class="adL">
                    </div>
        </div><div class="adL">

    </div></div></div>
</body>
</html>